.wrapper {
    position: absolute;
    width: 100%;
    max-height: 450px;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 20px;
    background-color: #34224f;
    z-index: 9;
    padding: 10px;
}


