//search
.seach-wrapper {
    display: flex;
    align-items: center;
    width: 500px;
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    border: 1px solid transparent;

    input {
        font-weight: 400;
        letter-spacing: 0.03px;
        background-color: transparent;
        flex: 1;
        color: rgb(22, 24, 35);
        caret-color: rgb(254, 44, 85);
        appearance: textfield;
    }

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &:hover .search-btn{
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:hover .search-icon{
        fill: rgb(22, 24, 35);
    }

    input:focus ~ .search-btn .search-icon{
        fill: rgb(22, 24, 35);
    }
}

.clean {
    position: relative;
    margin: 0 10px;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.spinner-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    animation: spinner 0.2s linear;
}

.search-btn {
    position: relative;
    width: 52px;
    height: 100%;
    cursor: pointer;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 28px;
        width: 1px;
        background-color: rgba(22, 24, 35, .12);
    }
}

.search-icon {
    margin-right: 6px;
    fill: rgba(22, 24, 35, 0.34);
}

//search result
.search-result {
    width: 500px;
}

.result-heading {
    position: fixed;
    right: 0;
    left: 0;
    height: 30px;
    width: 100%;
    line-height: 3rem;
    padding-left: 10px;
    background-color: #fff;
}

.result-container {
    margin-top: 30px;
    padding-bottom: 10px;
    overflow: hidden auto
}