//Menu
.menu {
    margin-bottom: 10px;
}
//Menu item
.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    color: rgba(22, 24, 35, 1);
    border-radius: 4px;

    &.active {
        color: var(--primary-color);

        .active-icon {
            display: block;
        }

        .icon {
            display: none;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.028px;
    margin-left: 8px;
}

.active-icon {
    display: none;
}