.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.user-name-wrap {
    display: flex;
    align-items: center;
}

.user-name {
    line-height: 2.1rem;
    letter-spacing: 0.03px;
    font-weight: 600;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-nickname {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.093px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
